@import "tailwindcss";
@config "../../tailwind.config.js";
@use "video.scss";

.rounded-large {
    border-radius: 0px!important;
    border-top-left-radius: 0px!important;
    border-top-right-radius: 0px!important;
}